@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');

@font-face {
font-family: 'Salzburg';
src: url('fonts/Salzburg.ttf');
}


// Options
// 
// Quickly modify global styling by enabling or disabling optional features.
  
$enable-rounded:            false;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  true;
$enable-grid-classes:       true;
$enable-print-styles:       true;


// Variables
//
// Colors

$theme-colors: (
  primary: black,
  secondary: #a83619,
  light: white,
  dark: black,
  info: white,
  success: #28a745,
  warning: #ffc107,
  danger: #dc3545
);

$body-bg: white;
$body-color: black;

$body-color-inverse: invert($body-color) !default;
$link-color: black;


// Fonts

$font-family-base: 'Playfair Display', serif;
$headings-font-family: 'Hammersmith One', sans-serif;
$display-font-family: 'Hammersmith One', sans-serif;
$btn-font-family: 'Hammersmith One', sans-serif;


$headings-font-weight: 200;
$lead-font-size: 1.3rem;

$spacer: 1.5rem;

$enable-responsive-font-sizes: true;
$font-size-base: 1rem;


/* Full-height cover section */
html, body {
   height:100%;
}


/* Remove scroll bar */
html::-webkit-scrollbar { width: 0 !important; height: 0 !important; }


/* Override navbar's font style */
.nav-link {font-family:'Hammersmith One' !important;}
.nav-item a {
  transition: 0.3s !important;
}
.nav-item:hover a {
  color:black !important;
  transition: 0.3s !important;
}

/* TEMPLATE: Symmetrical nav with fullscreen menu in Mobile */
@media only screen
  and (min-width: 991px) { /* DESKTOP: Hide brand at left & Show brand in center */
    .brand-mobile-only {
      display: none;
    }
}

@media only screen
  and (max-width: 991px) {
    .brand-desktop-only { /* MOBILE: Hide brand in nav list & Show brand at left */
      display: none;
    }
    
    .navbar-collapse { /* MOBILE: Enable fullscreen menu */
      height: 100vh;
    }
    
    .switch-color {
      overflow: hidden;
		}
    
    .navbar-collapse li { /* MOBILE: Adjust text in fullscreen menu */
      font-size: 2rem;
      word-spacing: -0.05rem;
      line-height: 50px;
      margin: 0px;
    }
    
    .navbar-nav { /* MOBILE: Lower text block in fullscreen menu */
      position: absolute;
      top: 40%;
  		left: 50%;
  		-ms-transform: translate(-50%, -50%);
  		transform: translate(-50%, -50%);
    }
    
    .navbar { /* MOBILE: Fade out navbar color on switch */
      transition: 0.3s !important;
    }
    
    .switch-color .navbar { /* MOBILE: Change navbar color on switch */
      background-color: black !important;
      transition: .3s;
    }
    
    .switch-color .nav-item a {color: white !important} /* MOBILE: Text color in fullscreen menu */
    .switch-color .nav-item:hover a { /* MOBILE: Text hover color in fullscreen menu */
      color: gray !important;
      transition: .3s;
    }
    
    .switch-color #logo-left { /* MOBILE: Change logo image on switch */
      content:url(ATV_logo_inverted.png);
      transition: .3s;
    }
    
    .switch-color .animated-icon span { /* MOBILE: Change nav toggler color on switch */
			background: white;
      transition: .3s;
		}
}

/* Add transition while shrinking logo on scroll */
#logo-left, #logo-center {
  transition: 0.8s;
}


/* Shrinking logo on scroll */
.logo-shrink {
   width: 150px;
}


/* Override dropdown's click highlight color */
.dropdown-item:active {
background-color: transparent !important;
}


/* Remove outline around selected buttons */
*:focus {
    outline: 0 !important;
}


/* Override letter spacing in buttons */
.btn {
  letter-spacing: 0.05rem;
}


/* Button hover transition */
.btn-outline-light {
   transition: background .5s ease !important;
}

.btn-primary {
   border:none !important;
   transition: background .5s ease !important;
}

.btn-primary:hover {
   background:white !important;
   color:black !important;
   border:none !important;
   transition: background .5s ease !important;
}


/* Override letter spacing in headings */
h1 {
  letter-spacing: 0.05rem;
}

h2 {
  letter-spacing: 0.05rem;
}

h3 {
  letter-spacing: 0.05rem;
}

h4 {
  letter-spacing: 0.05rem;
}

h5 {
  letter-spacing: 0.05rem;
}

h6 {
  letter-spacing: 0.05rem;
}


/* Drop caps for paragraphs */
drop {
   float: left;
   line-height: 85%;
   width: .7em;
   font-size: 450%;
   font-family: 'Playfair Display', serif;
}


/* Adjust owl carousel's slide height */
.slide-item {
   height: 850px;
}


/* Styling owl carousel's prev & next buttons */
.owl-prev, .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border:0px solid black;
    }
    .owl-prev {left: 20px;}
    .owl-next {right: 20px;}
    .owl-prev i, .owl-next i {
        transform : scale(3,3);
        color: #ffffff;}

.owl-carousel .owl-item {
  -webkit-transform: translate3d(0px, 0px, 0px);}


/* Responsive layout for overlapping elements */
.overlapping-text {
  margin-top: 100px;
  margin-left: -200px;
  margin-bottom: 150px;
  z-index: -1;
}

.overlapping-image {
  z-index: 1;
}

@media only screen
  and (max-width: 767px) {
	.overlapping-text {
    margin: 0;
  	margin-top: -200px;
  }
}


/* Remove blank space under footer on iPad */
body {   
   padding-bottom:0 !important;
   margin-bottom:0 !important;
}


@import 'bootstrap-4.3.1';

.cocoen {
}