@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');

@font-face {
font-family: 'Salzburg';
src: url('fonts/Salzburg.ttf');
}


// Options
// 
// Quickly modify global styling by enabling or disabling optional features.
  
$enable-rounded:            false;
$enable-shadows:            false;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;


// Variables
//
// Colors

$theme-colors: (
  primary: black,
  secondary: #a83619,
  light: white,
  dark: black,
  info: white,
  success: #28a745,
  warning: #ffc107,
  danger: #dc3545
);

$body-bg: white;
$body-color: black;

$body-color-inverse: invert($body-color) !default;
$link-color: black;


// Fonts

$font-family-base: 'Playfair Display', serif;
$headings-font-family: 'Hammersmith One', sans-serif;
$display-font-family: 'Hammersmith One', sans-serif;
$btn-font-family: 'Hammersmith One', sans-serif;


$headings-font-weight: 200;
$lead-font-size: 1.3rem;

$spacer: 1.5rem;

$enable-responsive-font-sizes: true;
$font-size-base: 1rem;


html,body {
   height:100%;
}

.nav-link {font-family:'Hammersmith One' !important;}
.nav-item:hover a {color:black !important}

*:focus {
    outline: 0 !important;
}

.btn {
  letter-spacing: 0.05rem;
}

.btn-outline-light {
   transition: background .5s ease !important;
}

.btn-primary {
   border:none !important;
   transition: background .5s ease !important;
}

.btn-primary:hover {
   background:white !important;
   color:black !important;
   border:none !important;
   transition: background .5s ease !important;
}

h1 {
  letter-spacing: 0.05rem;
}

h2 {
  letter-spacing: 0.05rem;
}

h3 {
  letter-spacing: 0.05rem;
}

h4 {
  letter-spacing: 0.05rem;
}

h5 {
  letter-spacing: 0.05rem;
}

h6 {
  letter-spacing: 0.05rem;
}

drop {
   float: left;
   line-height: 85%;
   width: .7em;
   font-size: 450%;
   font-family: 'Playfair Display', serif;
}

body {   
   padding-bottom:0 !important;
   margin-bottom:0 !important;
}

.slide-item {
   height: 850px;
}

.owl-prev, .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border:0px solid black;
    }
    .owl-prev {left: 20px;}
    .owl-next {right: 20px;}
    .owl-prev i, .owl-next i {
        transform : scale(3,3);
        color: #ffffff;}

.owl-carousel .owl-item {
  -webkit-transform: translate3d(0px, 0px, 0px);}

.overlapping-text {
  margin-top: 100px;
  margin-left: -200px;
  margin-bottom: 150px;
  z-index: -1;
}

.overlapping-image {
  z-index: 1;
}

@media (max-width: 576px) {
	.overlapping-text {
    margin-left: 0;
  	margin-top: -200px;
  }
}

@import 'bootstrap-4.3.1';

.cocoen {
}